#  -----------------------------------------------------------------------------
#  (c) balarabe@protonmail.com                                      License: MIT
# :v: 2019-01-17 17:28:34 059FC0                          /go-delta/[.gitignore]
#  -----------------------------------------------------------------------------

# drafts and temporary files
*`*
*tmp*

# shell scripts
/c.bat
/t.bat

# log and debugging files
/run.log

# sample files used to generate binary deltas
/day1.data
/day1.zip
/day2.data
/day2.zip
/test1.data
/test1.zip
/test2.data
/test2.zip

#eof
