#  -----------------------------------------------------------------------------
#  (c) balarabe@protonmail.com                                      License: MIT
# :v: 2019-01-14 18:08:48 D2AF13                          /go-delta/[.gitignore]
#  -----------------------------------------------------------------------------

# scripts, shortcuts, zip archives
*.bat
*.lnk
*.sh
*.zip

# log and debugging files
*.log
*.out

# drafts and temporary files
*.file
*`*
*tmp*
_*

# executable files
*.exe
*.exe~

#eof
