#  -----------------------------------------------------------------------------
#  (c) balarabe@protonmail.com                                      License: MIT
#  :v: 2019-01-22 11:38:26 C9033A                         /go-delta/[.gitignore]
#  -----------------------------------------------------------------------------

# backups, drafts and temporary files
*.go-bak
*`*
*tmp*

# shell scripts
/c.bat
/ll.bat
/ss.bat
/t.bat

# executable files
/delu/delu
/delu/delu.exe

# log and debugging files
/build.log
/cover.out
/delu/build.log
/run.log

# sample files used to generate binary deltas
/day1.data
/day1.zip
/day2.data
/day2.zip
/test1.data
/test1.zip
/test2.data
/test2.zip

#eof
